<ion-view title="CollabX" hide-nav-bar="true" id="page1" style="">
  <ion-content padding="true" style="background: url(img/vBGIjJUQ1tZaXVshd5rg_CollabX-background.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div style="margin-right:-20px;">
      <a ui-sref="login()" id="collabX-button9" style="left:-10px;font-weight:600;text-align:justify;border-radius:1px 1px 1px 1px;" class="button button-stable button-large button-full button-clear"></a>
    </div>
  </ion-content>
</ion-view>