<ion-view title="Project 1" hide-back-button="true" id="page4" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="project1-heading2" style="color: rgb(0, 0, 0);">Team List</h1>
    <ion-list id="project1-list5">
      <ion-item class="item-avatar" id="project1-list-item14" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="project1-list-item15" style="">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <ion-list id="project1-list6">
      <ion-item class="item-avatar" id="project1-list-item16" style="">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <ion-list id="project1-list7">
      <ion-item class="item-avatar" id="project1-list-item17" style="">
        <h2>Item</h2>
      </ion-item>
    </ion-list>
    <div id="project1-button-bar1" class="button-bar">
      <button id="project1-button16" style="font-weight:lighter;font-size:10px;" class="button button-positive button-block icon ion-android-contacts">
        <br>Team</button>
      <a ui-sref="project13()" id="project1-button17" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-chatboxes">
        <br>Chat</a>
      <a ui-sref="project12()" id="project1-button18" style="font-weight:300;font-size:9px;" class="button button-positive button-block icon ion-clipboard">
        <br> My Tasks</a>
      <a ui-sref="project14()" id="project1-button19" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-filing">
        <br>Files</a>
    </div>
  </ion-content>
</ion-view>