<ion-view title="Project 1" hide-back-button="true" id="page6" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="project13-heading1" style="color: rgb(0, 0, 0);">Chat</h1>
    <div id="project13-container4">
      <form id="project13-form9" class="list">
        <div id="project13-container5" class="creator-container"></div>
      </form>
    </div>
    <form id="project13-form10" class="list">
      <label class="item item-input item-floating-label" id="project13-input7">
        <input placeholder="Type your message..." type="text">
      </label>
    </form>
    <div id="project13-button-bar3" class="button-bar">
      <button id="project13-button11" style="font-weight:300;font-size:8px;" class="button button-positive button-block icon ion-android-contact">
        <br>Profile</button>
      <a ui-sref="project1()" id="project13-button24" style="font-weight:lighter;font-size:10px;" class="button button-positive button-block icon ion-android-contacts">
        <br>Team</a>
      <button id="project13-button25" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-chatboxes">
        <br>Chat</button>
      <a ui-sref="project12()" id="project13-button26" style="font-weight:300;font-size:9px;" class="button button-positive button-block icon ion-clipboard">
        <br> My Tasks</a>
      <a ui-sref="project14()" id="project13-button27" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-filing">
        <br>Files</a>
    </div>
  </ion-content>
</ion-view>