<ion-view title="Project 1" hide-back-button="true" id="page7" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="project14-heading4" style="color: rgb(0, 0, 0);">File Cabinet</h1>
    <ion-list id="project14-list8">
      <ion-item class="item-icon-left" id="project14-list-item24" style="">
        <i class="icon ion-information-circled"></i>File
        <span class="item-note">FileInfo</span>
        <ion-option-button class="button-dark">Download</ion-option-button>
      </ion-item>
    </ion-list>
    <div id="project14-button-bar4" class="button-bar">
      <a ui-sref="project1()" id="project14-button28" style="font-weight:lighter;font-size:10px;" class="button button-positive button-block icon ion-android-contacts">
        <br>Team</a>
      <a ui-sref="project13()" id="project14-button29" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-chatboxes">
        <br>Chat</a>
      <a ui-sref="project12()" id="project14-button30" style="font-weight:300;font-size:9px;" class="button button-positive button-block icon ion-clipboard">
        <br> My Tasks</a>
      <button id="project14-button31" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-filing">
        <br>Files</button>
    </div>
  </ion-content>
</ion-view>