<ion-view title="Project 1" hide-back-button="true" id="page5" style="">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="project12-heading3" style="color: rgb(0, 0, 0); text-align: right;">My Tasks</h1>
    <div id="project12-container3">
      <form id="project12-form6" class="list">
        <ion-radio id="project12-radio4">To Do</ion-radio>
        <ion-radio id="project12-radio3">In Progress</ion-radio>
        <ion-radio id="project12-radio5">Done</ion-radio>
      </form>
    </div>
    <ion-list id="project12-list4">
      <ion-item class="item-divider" id="project12-list-item-divider2"> To Do</ion-item>
      <ion-item id="project12-list-item5" style="">Item 1</ion-item>
      <ion-item class="item-divider" id="project12-list-item-divider3"> In Progress</ion-item>
      <ion-item id="project12-list-item6" style="">Item 2</ion-item>
      <ion-item class="item-divider" id="project12-list-item-divider4"> Done</ion-item>
      <ion-item id="project12-list-item7" style="">Item 3</ion-item>
    </ion-list>
    <div id="project12-button-bar2" class="button-bar">
      <a ui-sref="project1()" id="project12-button20" style="font-weight:lighter;font-size:10px;" class="button button-positive button-block icon ion-android-contacts">
        <br>Team</a>
      <a ui-sref="project13()" id="project12-button21" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-chatboxes">
        <br>Chat</a>
      <button id="project12-button22" style="font-weight:300;font-size:9px;" class="button button-positive button-block icon ion-clipboard">
        <br> My Tasks</button>
      <a ui-sref="project14()" id="project12-button23" style="font-weight:300;font-size:10px;" class="button button-positive button-block icon ion-filing">
        <br>Files</a>
    </div>
  </ion-content>
</ion-view>