<ion-view title="Your Projects" id="page3" style="background-color: rgb(57, 160, 193);">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-stable icon ion-android-contact"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div id="yourProjects-container1">
      <div style="margin-right:-20px;">
        <a ui-sref="project1()" id="yourProjects-button10" style="left:-10px;font-weight:500;color:#1D1D36;" class="button button-stable button-large button-full icon-left ion-home">Project 1</a>
      </div>
      <div style="margin-right:-20px;">
        <a ui-sref="project1()" id="yourProjects-button12" style="left:-10px;font-weight:500;color:#1D1D36;" class="button button-stable button-large button-full icon-left ion-home">Project 2</a>
      </div>
    </div>
  </ion-content>
</ion-view>